.btn {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.btn-primary{
    color: white;
    background-color: #377661;

}