.btn {
  padding: 13px 16px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
}


.btn-primary{
    color: white;
    background: linear-gradient(145deg, #7B3FE4 0%, #bc23f3 100%);

}