.overlay-modal{
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content:  center;
  align-items: center;
  z-index: 9999;
  padding: 24px;
}

.modal-content{
    -webkit-box-shadow: 5px 5px 18px -1px #000000; 
    box-shadow: 5px 5px 18px -1px #000000;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px;
    border-radius: 30px;
    background: #101010;
    background: linear-gradient(164deg, rgba(16, 16, 16, 1) 85%, rgba(25, 11, 46, 1) 100%);
    width: min(100%, 560px);
}

.btn-confirm-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    
    
}

.btn-confirm{
    color: white;
    background-color:#377661;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 23px;
    cursor: pointer;
}

.btn-confirm:hover{
    background-color: #255142;
    transform: translateY(5px)
}

.btn-cancel{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 23px;
    cursor: pointer;
}

.btn-cancel:hover{
    background-color: #181717;
    transform: translateY(5px)
}
