.contatos-nav{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 19%;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 10px;
    -webkit-box-shadow: 4px 3px 17px 0px #000000; 
    box-shadow: 4px 3px 17px 0px #000000;
    overflow-y: auto ;

}

.contato-user-nav{
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 10px;
    gap: 10px;
    cursor: pointer;
}

.contato-user-nav:hover{
    background-color: #6c6c6c57;
    border-radius: 20px;
}

.contato-user-nav.active{
    background-color: #6c6c6c57;
    border-radius: 20px;
}

.img-contato-nav{
    width: 80px;
    border-radius: 100px;
}


.voltar-container{
    padding: 20px 10px 20px 10px;
}

.voltar-icon{
    width: 40px;
    cursor: pointer;
}