header{
    background-color: #101010;
    width: 17%;
    position: sticky;
    left: 15px;
    top: 0;
    height: 100vh;
    border-radius: 20px;

    padding: 35px 10px 50px 15px;
    border: 1px solid rgb(70, 70, 70);
}






