.message-container{
    display: flex;
    
    
    gap: 20px;
}

.msg-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
    
   
}

.msg-left{
    width: 100%;
    
}

.conteudo-right{
    background-color: #377661;
    padding: 10px 15px 10px 15px ; 
    border-radius: 20px;
    font-size: 23px;
}

.conteudo-left{
    background-color: #000000;
    padding: 10px 15px 10px 15px ; 
    border-radius: 20px;
    font-size: 23px;
}