.navBar{
    display: flex;
    width: 100%;

    
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.navLinks li{
    font-size: 23px;
}

.navLinks li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0 20px 0;
}

.navLinks li p{
    text-decoration: none;
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0 20px 0;
}

.navLinks li a:hover{
    border-bottom: #377661 solid 2px;
}




.navLinks li img{
    width: 30px;

}



.navLinks li a.active{
    text-decoration: none;
    color: #377661;
    font-weight: 700;
}


