header{
    background-color: #101010;
    width: 17%;
    position: sticky;
    left: 15px;
    top: 0;
    height: 100vh;
    border-radius: 20px;

    padding: 35px 10px 50px 15px;
    border: 1px solid rgb(70, 70, 70);
}

.nav-text{
    color: white;
}

.navBar{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.logo-nav{
    position: absolute;
    width: 60px;
    bottom: 60px;
}

.navLinks{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    gap: 5px;
  
}

.navLinks li{
    font-size: 23px;
}

.navLinks li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0 20px 10px;
}

.navLinks .cog{
    border-top: 1px solid rgb(70, 70, 70);
    margin-top: 20px;
}

.navLinks li p{
    text-decoration: none;
    color: #7B3FE4;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0 20px 10px;
}

.navLinks li a:hover{
    background-color: #1e1a2a;
    border-radius: 10px;
}




.navLinks li img{
    width: 21px;

}



.navLinks li a.active  {
    border-left: 4px solid #7B3FE4;
    text-decoration: none;
    color: #7B3FE4;
    font-weight: 700;
    border-radius: 0px 10px 0px 0;
    background-color: #1e1a2a;
}   

.navLinks li a.active .nav-text{
    color: #7B3FE4;
}


.btn-sair{
    margin-top: auto;
    background-color: transparent;
    outline: none;
    border: #7B3FE4 1px solid;
    padding: 10px 0px 10px 20px;
    font-size: 21px;
    color: #7B3FE4;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sair-icon{
    width: 20px;
}

.mobile-menu-trigger,
.mobile-menu-panel{
    display: none;
}

