.navBar{
    display: flex;
    width: 100%;

    
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.navLinks li{
    font-size: 23px;
}

.navLinks li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0 20px 10px;
}

.navLinks li p{
    text-decoration: none;
    color: #7B3FE4;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0 20px 10px;
}

.navLinks li a:hover{
    background-color: #1e1a2a;
    border-radius: 10px;
}




.navLinks li img{
    width: 22px;

}



.navLinks li a.active{
    text-decoration: none;
    color: #7B3FE4;
    font-weight: 700;
    border-radius: 10px;
    background-color: #1e1a2a;
}   


