.meu-perfil{
    background-color: black;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    position: relative;
}


.dados-perfil{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-perfil{
    width: 180px;
    border-radius: 100px;
    cursor: pointer;
}


.seguidores-container{
    display: flex;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    
}

.btn-editar-perfil{
    width: 200px;
    background-color: #377661 ;
    font-size: 23px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 35px;
    padding: 10px;
}

.seguindo{
    cursor: pointer;
}

.seguidores{
    cursor: pointer;
}

.my-bio{
    font-size: 23px;
    font-style: italic;
}

.more{
    width: 45px;
    position: absolute;
    bottom: 25px;
    cursor: pointer;
    left: 21px;
}

.perfil-layout{
   display: flex;
   flex-direction: column;
   gap: 20px;
   
    
}

.meus-posts-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
     gap: 20px;
    padding: 25px 10px 25px 10px;
   
}

