.cards-container{
    width: 100%;
    max-width: 1000px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 30px 15px 15px 15px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}


/* largura da barra */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  
  
}

/* fundo da barra */
::-webkit-scrollbar-track {
  background: #1e1e2f;
}

/* parte que você arrasta */
::-webkit-scrollbar-thumb {
  background-color: #3776613b;
  border-radius: 10px;
  cursor: pointer;
  
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c5e4d;
}