.cards-container{
    width: 100%;
    max-width: 1000px;
    background: linear-gradient(145deg, #050505 0%, #111111 100%);
    border-radius: 28px;
    padding: 30px 15px 15px 15px;
    display: flex;
    gap: 35px;
    overflow-x: auto;
    box-shadow: 5px 5px 15px 5px #000000;

    
}


/* largura da barra */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  
  
}

/* fundo da barra */
::-webkit-scrollbar-track {
  background: #1e1e2f;
}

/* parte que você arrasta */
::-webkit-scrollbar-thumb {
  background-color: #3776613b;
  border-radius: 10px;
  cursor: pointer;
  
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c5e4d;
}